@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@400;500&display=swap');
.mainHookyung {
  background-color: #fafafa;

  .header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #dbdbdb;
    background-color: white;

    .menu {
      width: 975px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .westargramLogo {
        display: flex;
        align-items: center;
        cursor: pointer;

        .fa-instagram {
          font-size: 24px;
        }

        .logo {
          font-size: 24px;
          font-family: 'Lobster', cursive;
          margin-left: 10px;
          color: #2c2c2c;
        }
      }
      .searchBar {
        position: relative;

        .searchBarInput {
          width: 268px;
          height: 36px;
          background-color: #efefef;
          border: none;
          border-radius: 6px;
          padding-left: 36px;
          outline: none;
        }

        .fa-magnifying-glass {
          color: #808080;
          position: absolute;
          top: 10px;
          right: 240px;
        }
      }
      .headerNav {
        display: flex;

        li {
          display: flex;
          align-items: center;

          img {
            cursor: pointer;
            width: 26px;
            margin-left: 13px;
            align-items: center;
          }

          img:nth-child(0) {
            margin-left: 0;
          }
        }
      }
    }
  }
  .sectionMain {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .sectionWrapper {
      padding: 40px 20px 0px 20px;
      width: 975px;
      display: flex;
      justify-content: row;

      .feeds {
        width: 100%;

        .article {
          width: 96%;
          border: 1px solid #dbdbdb;
          background-color: white;

          .articleHeader {
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;

            .headerUserInfo {
              display: flex;
              align-items: center;

              img {
                width: 30px;
                border-radius: 15px;
                margin-right: 20px;
                border: 1px sold #dbdbdb;
              }

              span {
                font-weight: 900;
                font-size: 16px;
              }

              .fa-ellipsis {
                color: #575757;
              }
            }
          }

          .articleImage {
            width: 100%;

            img {
              width: 100%;
            }
          }
          .articleIcon {
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .iconLeft {
              display: flex;
              align-items: center;

              svg {
                margin-right: 16px;
              }
            }
          }

          .artileCommenSection {
            .feedLike {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0px 20px;

              .feedLikeImg {
                width: 20px;
                border-radius: 10px;
                margin-right: 10px;
              }

              .feedLikeUsers {
                font-size: 15px;
                padding-top: 10px;
              }
            }

            .comments {
              width: 100%;
              padding: 10px 20px;
              font-size: 14px;

              .comment {
                .commentView {
                  display: flex;
                  align-items: center;
                  position: relative;
                  padding-bottom: 8px;

                  .commentUserId {
                    font-weight: 900;
                    padding-right: 10px;
                  }

                  .commentLike {
                    font-size: 14px;
                    align-self: flex-end;
                    cursor: pointer;
                    position: absolute;
                    left: 95%;
                  }

                  .commentDelete {
                    position: absolute;
                    left: 99%;
                    color: #808080;
                    background-color: white;
                    border: none;
                  }

                  .commentDelete:hover {
                    color: #f63100;
                  }
                }
              }
              .commentTime {
                font-size: 12px;
                color: #808080;
              }
            }

            .commentWrite {
              position: relative;

              input {
                width: 100%;
                height: 50px;
                border: none;
                border-top: 1px solid #dbdbdb;
                outline: none;
                padding: 0 20px;
              }

              .commentWriteButton {
                background-color: white;
                border: none;
                color: #0095f6;
                position: absolute;
                right: 10px;
                top: 35%;
                cursor: pointer;
              }
            }
          }
        }
      }

      .mainRight {
        width: 350px;

        .userInfos {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 14px;

          .userThumnail {
            img {
              width: 100%;
              border-radius: 50%;
            }
          }

          .userInfo {
            padding-left: 10px;
            display: flex;
            flex-direction: column;

            .userInfoId {
              font-size: 14px;
              font-weight: 900;
            }

            .userInfoIdSub {
              font-size: 14px;
              padding-top: 2px;
              color: #9c9c9c;
            }
          }

          .userThumnail {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 2px solid transparent;

            background-origin: border-box;
            background-clip: content-box, border-box;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .userStoriesSection,
        .recommendSection {
          background-color: #ffffff;
          border: 1px solid #dbdbdb;
          margin-bottom: 10px;

          .storiesHeader,
          .recommendHeader {
            font-size: 14px;
            display: flex;
            padding: 12px 10px;
            justify-content: space-between;

            span:first-child {
              color: #9c9c9c;
            }

            span:last-child {
              color: #2c2c2c;
              cursor: pointer;
            }
          }

          .stories,
          .recommends {
            padding-bottom: 10px;
          }

          .story,
          .recommend {
            display: flex;
            padding: 5px 8px;

            .storyId,
            .recommendID {
              font-size: 14px;
              font-weight: 900;
            }
            .storyTime,
            .recommendCount {
              font-size: 12px;
              color: #808080;
            }
          }
        }

        .userStoriesSection {
          .stories {
            .story {
              .userThumnail {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 2px solid transparent;
                background-image: linear-gradient(#fff, #fff),
                  linear-gradient(to bottom, #962fbf, #d62976, #fa7e1e, #feda75);
                background-origin: border-box;
                background-clip: content-box, border-box;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 28px;
                  border-radius: 50%;
                }
              }

              .userThumnailInfo {
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
            }
          }
        }
        .recommendSection {
          .recommends {
            .recommend {
              justify-content: space-between;
              align-items: center;

              .recommendInfo {
                display: flex;
                align-items: center;

                .recommendThumnail {
                  img {
                    width: 28px;
                    border-radius: 50%;
                  }
                }

                .recommendThumnailInfo {
                  padding-left: 10px;
                  display: flex;
                  flex-direction: column;
                }
              }
              .recommendFollow {
                font-size: 12px;
                color: #0095f6;
              }
            }
          }
        }
      }
    }
  }

  p {
    letter-spacing: -0.4px;
    font-size: 12px;
    color: #9c9c9c;
    margin-bottom: 6px;
  }
}

/* 오른쪽 부분  */
